/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e0e0e0;
}

@media screen and (max-width: 768px) {
  /* Define Variables */
  :root {
    /* Container */
    --container-width: 320px;
    --container-height: 420px;
    --border-radius: 30px;

    /* Commission */
    --commission-font-size: 1.35rem;
  }
  /* Container, commission, divider */
  .container {
    /* Set the size of the container */
    width: var(--container-width);
    height: var(--container-height);
    /* Center the container horizontally and vertically */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Additional styling */
    background-color: white;
    border-radius: var(--border-radius);
  }

  .commission {
    position: relative;
    top: 15px;
    text-align: center;
    font-size: var(--commission-font-size);
  }

  .commission select {
    display: inline;
    background-color: transparent;
    border: none;
    color: #808080;
    outline: none;
    font-family: Inter Light;
    font-size: var(--commission-font-size);
  }

  .commission p {
    display: inline;
    font-family: Inter Light;
  }

  .divider {
    position: relative;
    top: 27px;
    height: 1px;
    margin: 0 15px;
    background-color: #000000;
  }
  /* Heading, Forms, Button */
  .heading {
    text-align: center;
    position: relative;
    top: 45px;
    font-size: 33px;
  }
  .input-form {
    padding: 10rem;
    text-align: left;
    height: 100px;
    width: 200px;
  }
}
